{%- comment -%}
Renders site.data.news, newest first.

Params:
  limit : maximum number of items to show (default: all)
{%- endcomment -%}

{%- assign items = site.data.news -%}
{%- if include.limit -%}
  {%- assign items = items | slice: 0, include.limit -%}
{%- endif -%}

{%- if items.size > 0 %}
<ul class="news-list">
  {%- for item in items %}
  <li class="news-item">
    <span class="news-date">{{ item.date | date: "%b %Y" }}</span>
    <span class="news-text">{{ item.text }}</span>
  </li>
  {%- endfor %}
</ul>
{%- endif -%}
